body{
background-color:#212121;
}
input[type=text]
{
border:none;
width:225px;
background: #C6C6C6;
color: white;
font-size:18px;
line-height:25px;
padding:10px 0;
border-radius: 7px;
}
input[type=submit]
{
border:none;
width:100px;
background: #01B9F5;
color: white;
font-size:18px;
line-height:20px;
padding:10px 0;
border-radius: 8px;
cursor: pointer;
}